@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


:root {
  --primary-color: #f7ef81; /* Adjust as needed */
  --secondary-color: #bcabae; /* Adjust as needed */
  --accent-color: #4a7856; /* Adjust as needed */
  --text-color: #352208; /* Adjust as needed */

  --heading-font: 'Lato', sans-serif;
  --paragraph-font: 'Lato', sans-serif;
}


body {
  max-width: 960px;
  margin: 0 auto;
  font-family: var(--paragraph-font);
  color: var(--text-color);
}


.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 1rem;
}

.header img {
  width: 150px;
  height: auto;
}


.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation a {
  text-decoration: none;
  color: var(--text-color);
  padding: 0.5rem 1rem; 
}

.navigation a:hover {
  color: #333; 
}


.hero {
  text-align: center;
  padding: 2rem;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.hero h2 {
  font-size: 1.8rem; 
  font-weight: 400; 
  margin-bottom: 0.5rem; 
  color: var(--text-color);
}

.hero p {
  font-weight: 400;
  line-height: 1.5;
  margin: 0.5rem 0;
  color: var(--text-color);
}


.about-us {
  padding: 2rem;
}

.about-us h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.about-us p {
  text-align: justify;
}


.adventures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
}

.adventure-item {
  margin: 0.5rem;
}

.adventure-item figure {
  margin: 0;
}

.adventure-item img {
  width: 100%;
  height: auto;
}

.adventure-item figcaption {
  text-align: center;
  font-style: italic;
  color: var(--text-color);
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.footer .sociallinks {
  display: flex;
}

.footer .sociallinks img {
  width: 20px; 
  height: auto;
  margin: 0 0.5rem; 
}
